---
server: 'irc.example.net'
port: 6667
channels:
  - '#some_channel'
  - '#another_channel'

# Optional SSL:
# ssl:
#   use: true
#   verify: false

# IRC details:
nick: 'scumbag'
# Optional:
# user: 'steve'
# realname: 'A Total Scumbag'

# Command prefix:
prefix: '?'

# SQLite database config:
database:
  adapter: 'sqlite3'
  database: 'db/scumbag.sqlite3'
  pool: 5
  timeout: 5000
