---
server: 'irc.example.net'
port: 6667
channels:
  - '#some_channel'
  - '#another_channel'

# Optional SSL:
# ssl:
#   use: true
#   verify: false

# IRC details:
nick: 'scumbag'
user: 'scumbag'

# Command prefix:
prefix: '?'

# Mongo database config:
database:
  host: 'localhost'
  port: 27017
  database: 'scumbag'
